.DisplayArea {
  grid-column-start: 1;
  grid-column-end: 5;
  height: 4rem;
  position: relative;
  z-index: -1;
}
.DisplayArea input {
  text-align: right;
  font-size: 4rem;
  height: 100%;
  width: 100%;
  background-color: #999;
  padding: 1rem;
}

.OperatorDisplay {
  color: black;
  font-size: 01.5rem;
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 100;
}
